* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #414141; }

.section-outer {
  padding-right: 20px;
  padding-left: 20px; }

.section-inner {
  max-width: 1180px;
  margin: 0 auto; }

.description-item__icon {
  margin-bottom: 20px; }

.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold; }

.description-item__text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #6c6c6c; }

.btn-main {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px 20px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe4fa7));
  background: -o-linear-gradient(left, #fe985b, #fe4fa7);
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  color: #ffffff; }
  .btn-main:hover {
    background: -webkit-gradient(linear, left top, right top, from(#fe4fa7), to(#fe985b));
    background: -o-linear-gradient(left, #fe4fa7, #fe985b);
    background: linear-gradient(to right, #fe4fa7, #fe985b); }

.btn-secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px 20px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #414141;
  background: #ffffff;
  color: #414141;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .btn-secondary:hover {
    color: #fe4fa7;
    border-color: #fe4fa7; }

.btn-free {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 16px 20px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: #ffffff;
  color: #414141; }

.section-header {
  color: #ffffff;
  background: url("../img/bg-header.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 39, 41, 0.6); }
  .section-header-logo {
    font-weight: bold;
    font-size: 24px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding-top: 35px; }
  .section-header-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title, .section-header-wrapper__subtitle {
      text-align: center; }
    .section-header-wrapper__title {
      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      margin-bottom: 16px; }
    .section-header-wrapper__subtitle {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 32px;
      width: 80%;
      margin: 0 auto 44px; }
    .section-header-wrapper__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .section-header-wrapper__form-input {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-right: 40px; }
        .section-header-wrapper__form-input input {
          font-family: 'Montserrat', sans-serif;
          border: none;
          background: rgba(255, 255, 255, 0.25);
          color: #ffffff;
          font-size: 16px;
          margin: 0;
          padding: 16px 20px;
          outline: none;
          border-radius: 4px;
          width: 100%;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }
          .section-header-wrapper__form-input input::-webkit-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::-moz-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input:-ms-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::-ms-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input:focus {
            background: rgba(255, 255, 255, 0.5); }

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px; }

.section-promo-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section-promo-1__content, .section-promo-1__video {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .section-promo-1__content .title {
    font-size: 32px;
    line-height: 51px;
    font-weight: bold;
    margin-bottom: 56px; }
  .section-promo-1__content .description-item {
    margin-top: 28px; }
  .section-promo-1__video img {
    width: 100%;
    height: auto; }
  @media (max-width: 767px) {
    .section-promo-1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section-promo-1__video {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .section-promo-1__content {
      padding-right: 90px; } }

.section-promo-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 86px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2;
  text-align: center; }
  .section-promo-2 .description-item + .description-item {
    margin-left: 40px; }

.section-founder {
  background-color: #f6fafd;
  padding-top: 34px; }
  .section-founder .section-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .section-founder__img img {
    max-width: 100%; }
  .section-founder__content {
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 50px; }
    .section-founder__content-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      line-height: 40px; }
    .section-founder__content-name {
      padding-top: 35px;
      font-size: 24px;
      line-height: 29px;
      font-weight: bold; }
    .section-founder__content-post {
      font-size: 20px;
      line-height: 29px; }
  @media (max-width: 575px) {
    .section-founder .section-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .section-founder__content {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; } }
  @media (min-width: 576px) {
    .section-founder__img {
      -ms-flex-item-align: end;
      align-self: flex-end; } }

.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  .section-plans__title {
    font-size: 36px;
    line-height: 51px;
    font-weight: bold; }
  .section-plans__subtitle {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    width: 50%;
    margin: 0 auto 80px; }
  .section-plans__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section-plans__list-item {
      -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
      padding: 60px 45px; }
      .section-plans__list-item_title {
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 26px; }
      .section-plans__list-item_price {
        margin-bottom: 26px; }
        .section-plans__list-item_price .prefix {
          font-size: 72px;
          line-height: 86px;
          font-weight: bold;
          color: #fe4fa7; }
        .section-plans__list-item_price .postfix {
          font-size: 14px;
          line-height: 17px;
          font-weight: bold; }
      .section-plans__list-item_description {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 50px; }
      .section-plans__list-item.active {
        background-color: #f6fafd; }

.section-free {
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe4fa7));
  background: -o-linear-gradient(left, #fe985b, #fe4fa7);
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  padding-top: 120px;
  padding-bottom: 120px; }
  .section-free__title {
    margin-bottom: 26px;
    font-size: 66px;
    line-height: 60px;
    font-weight: bold; }
  .section-free__description {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto 40px;
    font-size: 20px;
    line-height: 30px; }
  @media (min-width: 992px) {
    .section-free__description {
      width: 50%; } }

.section-footer {
  padding-top: 80px;
  padding-bottom: 80px; }
  .section-footer__logo {
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 30px; }
  .section-footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 75px;
    padding: 0;
    list-style: none; }
    .section-footer__nav li + li {
      margin-left: 60px; }
    .section-footer__nav li a {
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: #464646;
      text-decoration: none;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .section-footer__nav li a.active, .section-footer__nav li a:hover {
        color: #fe50a6; }
  .section-footer__copyright_and_links {
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px; }
    @media (min-width: 1200px) {
      .section-footer__copyright_and_links {
        width: 60%;
        margin: 0 auto; } }

.helper-link {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .helper-link li + li {
    margin-left: 20px; }
  .helper-link li a {
    color: #464646;
    text-decoration: none; }
    .helper-link li a:hover {
      text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
