* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #414141; }

.section-inner {
  width: 1180px;
  margin: 0 auto; }

.section-header {
  color: #ffffff;
  background: url("../img/bg-header.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 39, 41, 0.6); }
  .section-header-logo {
    font-weight: bold;
    font-size: 24px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding-top: 35px; }
  .section-header-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title, .section-header-wrapper__subtitle {
      text-align: center; }
    .section-header-wrapper__title {
      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      margin-bottom: 16px; }
    .section-header-wrapper__subtitle {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 32px;
      width: 80%;
      margin: 0 auto 44px; }
    .section-header-wrapper__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .section-header-wrapper__form-input {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-right: 40px; }
        .section-header-wrapper__form-input input {
          font-family: 'Montserrat', sans-serif;
          border: none;
          background: rgba(255, 255, 255, 0.25);
          color: #ffffff;
          font-size: 16px;
          margin: 0;
          padding: 16px 20px;
          outline: none;
          border-radius: 4px;
          width: 100%; }
          .section-header-wrapper__form-input input::-webkit-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::-moz-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input:-ms-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::-ms-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::placeholder {
            color: #ffffff; }
      .section-header-wrapper__form-button button {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 16px 20px;
        border: none;
        background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe4fa7));
        background: -o-linear-gradient(left, #fe985b, #fe4fa7);
        background: linear-gradient(to right, #fe985b, #fe4fa7);
        outline: none;
        border-radius: 4px;
        color: #ffffff; }

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px; }

.section-promo-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section-promo-1__content, .section-promo-1__video {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .section-promo-1__content {
    padding-right: 90px; }
    .section-promo-1__content .title {
      font-size: 32px;
      line-height: 51px;
      font-weight: bold;
      margin-bottom: 56px; }
    .section-promo-1__content .subtitle {
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      margin-top: 30px; }
    .section-promo-1__content .text {
      font-size: 16px;
      line-height: 27px;
      font-weight: 300;
      color: #6c6c6c;
      margin-top: 14px; }
  .section-promo-1__video img {
    width: 100%;
    height: auto; }

/*# sourceMappingURL=styles.css.map */
