<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Marketika
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(href!="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap", rel="stylesheet")
    body
        // header
        section.section-outer.section-header
            .section-inner
                .section-header-logo Marketika
                .section-header-content
                    .section-header-wrapper
                        .section-header-wrapper__title 
                            |We are here to help you out
                        .section-header-wrapper__subtitle 
                            |Very professional and highly customizable sketch template with lots of custom pages and useful features
                        .section-header-wrapper__form
                            .section-header-wrapper__form-input
                                input(type="text", placeholder="Your Name")
                            .section-header-wrapper__form-input
                                input(type="text", placeholder="Your Email")
                            .section-header-wrapper__form-button
                                button Get Started

        // / header
        
        // promo
        section.section-outer.section-promo
            .section-inner
                .section-promo-1
                    .section-promo-1__content
                        .title
                            |Grow up your business with maketica maketing landing page
                        .subtitle
                            |Increase your visitors
                        .text
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        .subtitle
                            |Increase your visitors
                        .text
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    .section-promo-1__video
                        img(src="img/video.png", alt="")
                .section-promo-2
                    .description-item
                        .description-item__icon
                            img(src="img/icon-idea.png", alt="")
                        .description-item__title Start your marketing
                        .description-item__content
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                    .description-item
                        .description-item__icon
                            img(src="img/icon-idea.png", alt="")
                        .description-item__title Start your marketing
                        .description-item__content
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    .description-item
                        .description-item__icon
                            img(src="img/icon-idea.png", alt="")
                        .description-item__title Start your marketing
                        .description-item__content
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

        // / promo
        
        // founder
        section.section-outer.section-founder
            .section-inner.
                section-founder
        // / founder
        
        // plans
        section.section-outer.section-plans
            .section-inner.
                section-plans
        // / plans
        
        // free
        section.section-outer.section-free
            .section-inner.
                section-free
        // / free
        
        // footer
        section.section-outer.section-footer
            .section-inner.
                section-footer
        // / footer
